$common-margin: 10px;

#root {
    text-align: center;

    button.large {
        margin: 0 auto;
    }

    .columns button {
        margin: $common-margin !important;
    }

    button.expanded {
        margin: 0px !important;
    }
}
